PORT=3000
MODE=develop # develop or production

JWT_SECRET=secret
JWT_EXPIRES_IN_HOURS=72

FILES_PATH=static

GOOGLE_CLIENT_ID=559520305195-em0vfms7n150n3veec03lf3jqpbo7m5s.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
